<div class="progress-loader" [hidden]="!loading">
    <div class="loading-spinner">
      <mat-spinner mode="indeterminate" color="primary"></mat-spinner>
      <span class="loading-message">
        Please wait...
      </span>
    </div>
  </div>
<diV class="row">
    <div class="col-3">
        <div class="card full-height" [style.height]="searchHeight">
            <div class="card-header" style="background-color: #3f51b5;">
                <mat-toolbar-row class="search">
                  <span> <mat-icon>search</mat-icon>
                    <b> Search Criteria </b></span>   
                </mat-toolbar-row>
            </div>
            <div class="card-body">
                <form [formGroup]="searchForm">
                    <div class="col-12">
                        <mat-form-field>
                            <mat-label>From Date</mat-label>
                            <input matInput [matDatepicker]="pickerfrom"  [min]="minDate" [max]="maxDate" formControlName="dateFrom" class="custom-width" />
                            <mat-datepicker #pickerfrom>
                            </mat-datepicker>
                            <mat-datepicker-toggle matSuffix [for]="pickerfrom"></mat-datepicker-toggle>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <mat-label>To Date</mat-label>
                            <input matInput [matDatepicker]="pickerto" formControlName="dateTo" [min]="minDate" [max]="maxDate" class="custom-width" />
                            <mat-datepicker #pickerto>
                            </mat-datepicker>
                            <mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
                        </mat-form-field>
                    </div>
                    <div class="col-12 mt-2">
                        <button mat-raised-button [disabled]="!searchForm.valid" color="primary" matTooltip="Filter"
                            class="btn btn-block" style="border-radius: 10px;width: 200px;" (click)="onSearchClick()">
                            <mat-icon id="icon-search">search</mat-icon> Filter
                        </button>
    
                    </div>
                </form>           
            </div>
        </div>
    </div>
    <div class="col-9 card full-height">
        <div class="card-body" [style.height]="gridHeight" style="overflow-y: auto;">
            <!-- <mat-form-field style="float:right">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search Here" #input>
            </mat-form-field>               -->
              <table mat-table *ngIf="dataSource" [dataSource]="dataSource" class="table"  id="excel-table">
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef class="header"> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date }} </td>
                </ng-container>
                <ng-container matColumnDef="high">
                  <th mat-header-cell *matHeaderCellDef class="header"> High </th>
                  <td mat-cell *matCellDef="let element"> {{element.high}} </td>
                </ng-container>

                <ng-container matColumnDef="low">
                  <th mat-header-cell *matHeaderCellDef class="header"> Low </th>
                  <td mat-cell *matCellDef="let element"> {{element.low}} </td>
                </ng-container>

                <ng-container matColumnDef="open">
                  <th mat-header-cell *matHeaderCellDef class="header"> Open </th>
                  <td mat-cell *matCellDef="let element"> {{element.open}} </td>
                </ng-container>
                <ng-container matColumnDef="close">
                  <th mat-header-cell *matHeaderCellDef class="header"> Close </th>
                  <td mat-cell *matCellDef="let element"> {{element.close}} </td>
                </ng-container>
                <ng-container matColumnDef="volume_btc">
                  <th mat-header-cell *matHeaderCellDef class="header"> Volume BTC </th>
                  <td mat-cell *matCellDef="let element"> {{element.volume_btc}} </td>
                </ng-container>
                <ng-container matColumnDef="volume_usd">
                  <th mat-header-cell *matHeaderCellDef class="header"> Volume USD </th>
                  <td mat-cell *matCellDef="let element"> {{element.volume_usd}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (mouseover)="row.hovered = true"
                (mouseout)="row.hovered = false" [ngClass]="{hovered: row.hovered,  highlighted: selection.isSelected(row)}"
                (click)="selection.select(row)" class="element-row" matRipple></tr>
              </table>
              <div *ngIf="dataSource.data.length==0">
                No Data Found
              </div>             
        </div>
        <mat-paginator pageSize="25" [pageSizeOptions]="[25, 50, 100, 500, 1000]" showFirstLastButtons></mat-paginator>
    </div>
</diV>